    @font-face {
        font-family: "poppins"; 
        src: url("./fonts/Poppins/Poppins-Regular.ttf") ; 
        }
    
    @font-face {
        font-family: "yesevaone"; 
        src: url("./fonts/Yeseva_One/YesevaOne-Regular.ttf") ; 
        }
        
        $font-poppins:"poppins";
        $font-yesevaone:"yesevaone";
        $a-color: #00E0FF;
// tablet version start
@media screen and (min-width: 421px) and (max-width: 1024px){
    .page__wrapper{
        max-width: 1024px;
        overflow: hidden;
        background-color: #031923;
        color: white;
        position: relative;
        .sub__title{
            h3{
                width: 40%;
            }
        }
        p{
            font-family: $font-poppins;
            font-size: 28px;
            line-height: 30px;
        }
        button{
            color: white;
        }
        .container{
            margin: 0 auto;
            max-width: 950px;
        }
        .hero{
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            &__title{
                width: 700px;
                min-height: 350px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                justify-content: space-around;
                h1{
                    font-family: $font-yesevaone;
                    font-size: 55px;
                }
                
                button{
                    width: 250px;
                    height: 50px;
                    background: linear-gradient(180deg, #00BED8 0%, #008294 100%);
                    font-family: $font-poppins;
                    font-size: 20px;
                }
                button:first-child{
                    box-shadow: 6px 6px 17px rgba(3, 23, 32, 0.46);
                    border-radius: 20px 4px;
                }
                button:last-child{
                    background: linear-gradient(180deg, rgba(0, 190, 216, 0.2) 0%, rgba(0, 130, 148, 0.2) 100%);
                    border-radius: 4px 16px;
                }
            }
            &__img{
                img{
                    display: flex;
                    margin: 0 auto;
                    width: 600px;
                }
            }
            &__back-img{
                img{
                    display: none;
                }
            }
        }
        .auction{
            .auction__img{
                img{
                    display: flex;
                    flex-direction: column;
                    margin: 0 auto;
                    width: 600px;
                }
            }
        }
        .howtowork{
            .howtowork__items{
                min-height: 150vh;
                margin: 0 auto;
                // display: flex;
                // flex-direction: column;
                // align-items: center;
                // text-align: center;
                // justify-content: space-evenly;
                .items__card{
                    // display: flex;
                    // flex-direction: column;
                    text-align: center;
                    // align-items: center;
                    // justify-content: space-evenly;
                    margin: 0 auto;
                    min-height: 30vh;
                    width: 50%;
                    margin-bottom: 50px;
                    padding: 20px;
                    border: 2px solid $a-color;
                    box-shadow: 8px 8px 72px rgba(0, 2, 7, 0.1);
                    border-radius: 16px; 
                    background: #031822;
                    opacity: 0.6;
                    img{
                        width: 200px;
                        padding-bottom: 120px;
                    }
                    h4{
                        font-family: $font-yesevaone;
                        font-size: 36px;
                        padding-bottom: 20px;
                    }
                    
                }
            }
        }
        .creators{
            .creators__items{
                display: flex;
                flex-direction: column;
                align-items: center;
                .creators__people{
                    width: 100%;
                }
            }
        }
        .category{
            .category__bc-img{
                display: none;
            }
            .category__items{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 50px 0px;
                img{
                    width: 650px;
                }
            }
        }
        .footer{
            min-height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            border-top: $a-color 1px solid;
            margin-top: 100px;
            .link__item--logo{
                p{
                    margin-bottom: 20px;
                }
            }
            .links__item-container{
             display: none;
            }
            .footer__social{
                h3{
                    margin-bottom: 20px;
                }
                .social__icon{
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}
// tablet version end

// phone version start
@media screen and (min-width: 280px) and (max-width: 420px){
    .page__wrapper{
        max-width: 450px;
        overflow: hidden;
        background-color: #031923;
        color: white;
        position: relative;
        h1{
            width: 50%;
            font-family: $font-yesevaone;
            font-size: 35px;
        }
        p{
            width: 50%;
            font-family: $font-poppins;
            font-size: 18px;
            line-height: 30px;
        }
        .container{
            max-width: 420px;
            margin: 0 auto;
            padding: 0 20px;
        }
        .hero{
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            &__title{
                width: 700px;
                min-height: 350px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                justify-content: space-around;
                
                button{
                    width: 150px;
                    height: 50px;
                    background: linear-gradient(180deg, #00BED8 0%, #008294 100%);
                    font-family: $font-poppins;
                    font-size: 20px;
                }
                button:first-child{
                    box-shadow: 6px 6px 17px rgba(3, 23, 32, 0.46);
                    border-radius: 20px 4px;
                }
                button:last-child{
                    background: linear-gradient(180deg, rgba(0, 190, 216, 0.2) 0%, rgba(0, 130, 148, 0.2) 100%);
                    border-radius: 4px 16px;
                }
            }
            &__img{
                img{
                    display: flex;
                    margin: 0 auto;
                    width: 350px;
                }
            }
            &__back-img{
                img{
                    display: none;
                }
            }
        }
        .auction{
            .page__title-left{
                h5{
                    font-size: 84px;
                }
            }
            &__img{
                img{
                    display: flex;
                    flex-direction: column;
                    margin: 0 auto;
                    width: 300px;
                }

            }
        }
        .howtowork{
            .howtowork__items{
                min-height: 150vh;
                margin: 0 auto;
                // display: flex;
                // flex-direction: column;
                // align-items: center;
                // text-align: center;
                // justify-content: space-evenly;
                .items__card{
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    align-items: center;
                    margin: 0 auto;
                    min-height: 30vh;
                    width: 70%;
                    margin-bottom: 50px;
                    padding: 20px;
                    border: 2px solid $a-color;
                    box-shadow: 8px 8px 72px rgba(0, 2, 7, 0.1);
                    border-radius: 16px; 
                    background: #031822;
                    opacity: 0.6;
                    img{
                        width: 200px;
                        padding-bottom: 20px;
                    }
                    h4{
                        font-family: $font-yesevaone;
                        font-size: 36px;
                        padding-bottom: 20px;
                    }
                    p{
                        width: 80%;
                    }
                }
            }
        }
        .creators{
            
            &__items{
                display: flex;
                flex-direction: column;
                align-items: center;
                .creators__people{
                    width: 100%;
                }
            }
            .page__title-left{
                h5{
                    font-size: 80px;
                }
            }
        }
        .category{
            .category__bc-img{
                display: none;
            }
            .category__items{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 50px 0px;
                img{
                    width: 80%;
                }
            }
        }
        .footer{
            min-height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            border-top: $a-color 1px solid;
            margin-top: 100px;
            .link__item--logo{
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                img{
                    width: 80%;
                }
                p{
                    width: 80%;
                    margin-bottom: 20px;
                }
            }
            .links__item-container{
             display: none;
            }
            .footer__social{
                h3{
                    margin-bottom: 20px;
                }
                .social__icon{
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}
// phone version end


// burger menu start
@media screen and (min-width:0px) and (max-width:1024px) {
    .page__wrapper {
        width: 100%;
        overflow: hidden;
        .header {

            display: flex;
            width: 100%;
            height: 10vh;
            padding: 0% 0%;
            // position: relative;
            display: flex;
            align-items: center;
            // min-height: 110px;

            &__nav {
                position: inherit;
                width: 100%;
                display: flex;
                justify-content: space-around;
                flex-direction: row-reverse;

                align-items: center;
                overflow: hidden!important;
                .top_menu{
                    left: 0!important;
                }

                .nav__items {
                    width: 30%;
                    display: flex;
                    justify-content: flex-end;
                }

                .nav__links {
                    width: 35%;
                    display: flex;
                    justify-content: space-between;
                    position: absolute;
                    height: auto;
                    box-sizing: border-box;
                    padding: 5% 3%;
                    display: flex;
                    flex-direction: column;
                    background-color: #031923;
                    border:solid 1px #00E0FF;
                    left:-50%;
                    top: 10vh;
                    transition: 0.6s ease-in-out all;
                    z-index: 200;

                    li {
                        list-style: none;

                        a {
                            text-decoration: none;
                            color: white;
                        }

                        a:hover {
                            color: $a-color;
                            transition: 0.5s;
                        }

                        // a:first-child:hover{
                        //     color: white;
                        //     transition: 0.5s;
                        // }
                        &:first-child {
                            a {
                                color: #00E0FF;

                                &:hover {
                                    color: #FFFFFF;
                                    transition: 0.5s;
                                }
                            }
                        }
                    }
                }

                .nav__logo {
                    width: 30%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 100%;
                        height: 100%;
                        position: initial;
                    }
                }

                .nav__search {

                    width: 53px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    overflow: hidden;
                    margin-right: 20px;
                    transition: ease-in-out 0.6s all;
                    display: none;

                    .search {
                        margin-left: 10px;
                        box-sizing: border-box;
                        width: 15vw;
                        height: 48px;
                        background: rgba(255, 255, 255, 0.2);
                        border: 1px solid #00E0FF;
                        border-radius: 48px;
                        box-sizing: border-box;
                        color: #FFFFFF;
                        padding: 0 3%;
                    }

                    .search::placeholder {
                        color: #FFFFFF;
                    }

                    .search__icon {
                        height: 50px;
                        width: 50px;
                        min-width: 50px;
                        display: flex;
                        justify-content: center;
                        background: rgba(255, 255, 255, 0.2);
                        border: 1px solid #00E0FF;
                        align-items: center;
                        border-radius: 50%;
                        cursor: pointer;

                        img {
                            height: 30px;
                        }
                    }

                }

                .nav__btn {
                    // border: 1px solid rgb(255, 255, 255);
                    transition: ease-in-out 0.6s all;
                    display: flex;
                    align-items: center;
                    width: 50px;
                    height: 50px;
                    overflow: hidden;
                    display: none;

                    p {
                        color: #FFFFFF;
                        margin-left: 10px;
                    }

                    .search__btn {

                        position: relative;
                        min-width: 50px;
                        width: 50px;
                        height: 50px;
                        background: rgba(255, 255, 255, 0.2);
                        border: 1px solid #00E0FF;
                        border-radius: 48px;
                        // margin-left: 10px;
                        color: white;
                        text-transform: uppercase;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        // padding-left: 50px;
                        // display: none;

                        img {
                            width: 120%;
                            height: 120%;
                            // position: absolute;
                            // top: -2px;
                            // right: 88px;
                        }
                    }
                }

                .nav__btn:hover {
                    width: 40%;
                }

                .nav__search:hover {
                    width: 70%;
                }

                .nav__burger {
                    width: 30px;
                    height: 15px;
                    position: relative;

                    .line {
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background-color: #fff;

                    }

                    .top {
                        top: 0;
                        left: 0;
                        transition: ease-in-out 0.3s all;
                       
                    }
                    .center{
                        // !!!!!у меня на экране 35, возможно надо 50%!!!!!
                        &_x{
                            top: 35%;
                            transform: translateY(-50%);
                            transition: 0.6s ease-in-out all;
                        }
                        &_y{
                            top: 35%;
                            transform: translateY(-50%);
                            transition: 0.6s ease-in-out all;
                        }
                    }

                    .bottom {
                        top: 100%;
                        left: 0;
                        transition: ease-in-out 0.3s all;
                    }
                    .top_anim {
                        top:50%;
                        transform: translateY(-50%);
                        opacity: 0;
                    }
                    .rotate-x{
                        transform: rotate(45deg);

                    }
                    .rotate-y{
                        transform: rotate(-45deg);

                    }

                }
            }
        }
    }
}
// burger menu end